.page-header {
  background: url(https://repoweb.github.io/img/page-header-background.png) no-repeat center center;
  background-color: #005158;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.title {
  color: #00707D;
}
.site-footer{
text-align: center;
}
